html {
    scroll-behavior: smooth;
}
:root {
    --primary-color: #ff0065;
}
.accent-text {
    color: var(--primary-color);
}
.accent-bg {
    background-color: var(--primary-color);
}
.font-lexend { font-family: 'Lexend', sans-serif; }
.font-poppins { font-family: 'Poppins', sans-serif; }

.slide-container {
    overflow: hidden;
    position: relative;
}
.slide-track {
    display: flex;
    transition: transform 0.3s ease-in-out;
}
.slide {
    min-width: 100%;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0; 
}

#checkerboard-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    
    background-image: url('./assets/checkered_bg.png');
    background-attachment: scroll; 
    background-repeat: repeat;

    filter: blur(2px);
    opacity: 0.8;
}

.parallax-hero {
    background-image: url('./assets/flowers.gif'); 
    background-attachment: fixed; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 10;
}
.parallax-overlay {
    background: rgba(255, 255, 255, 0.4); 
    backdrop-filter: blur(8px); 
    height: 100%;
    width: 100%;
}

@media (min-width: 768px) {
    .nav-container-desktop {
        gap: 2.5rem; 
    }
}

.akira-style {
    font-family: 'Lexend', sans-serif; 
    font-weight: 900; 
    letter-spacing: 0.1em; 
    line-height: 1;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1); 
}